* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

body {
  padding: 10px;
  font-family: sans-serif;
  height: 100vw;
  background-color: #fafafa;
}

.loginpage {
  font-family: "Open Sans", sans-serif;
}
.greeting {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px;
  text-align: center;
  color: rgb(53, 53, 53);
  margin: 2rem;
  margin-top: 8rem;
}

.message {
  color: red;
  padding: 0, 1rem;
  font-weight: bold;
  max-width: 500px;
  margin: 0 auto;
}

.task-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

.task-form label {
  color: rgb(98, 98, 98);
  margin: 5px 0;
  font-weight: 500;
  text-shadow: 0.5px 0.5px 0.5px rgb(155, 151, 151);
}

.task-form input {
  padding: 10px;
  color: rgb(44, 44, 44);
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.btn-container {
  width: 100%;
  text-align: end;
}

.task-form button {
  border: none;
  background-color: rgb(43, 222, 115);
  color: white;
  font-weight: bold;
  width: 100px;
  border-radius: 3px;
  margin: 1rem 0;
  padding: 5px 10px;
  font-size: 17px;
}

.createaccount {
  text-align: center;
  font-size: 15px;
}

.btn-createaccount {
  border: none;
  background: none;
  text-decoration: underline;
  color: rgb(236, 131, 20);
  font-weight: 500;
  font-size: 15px;
}

.registerpage {
  font-family: "Open Sans", sans-serif;
}

.gotologin {
  text-align: center;
  font-size: 15px;
}

.btn-gotologin {
  border: none;
  background: none;
  text-decoration: underline;
  color: rgb(236, 131, 20);
  font-size: 15px;
}

.topbar {
  width: 100%;
  border: 1px black;
  height: auto;
  padding: 1rem;
  border-bottom: 1px solid rgb(155, 151, 151);
  display: flex;
  justify-content: space-between;
}

.btn-logout {
  border: none;
  background-color: rgb(43, 222, 115);
  color: white;
  font-weight: bold;
  width: 100px;
  border-radius: 3px;
  padding: 7px 10px;
  cursor: pointer;
  font-size: 20px;
}

.feedform-container {
  padding: 1rem;
  max-width: 800px;
  margin: 0 auto;
}

.feedform-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feedform-title {
  color: rgb(53, 53, 53);
  margin: 5px 0;
  font-weight: 500;
  text-shadow: 0.5px 0.5px 0.5px rgb(155, 151, 151);
}

.feedform-textarea {
  width: 100%;
  resize: none;
  border-radius: 3px;
  padding: 1rem;
}

.feedform-submit {
  align-self: flex-end;
  padding: 5px 10px;
  border: 2px solid;
  background-color: white;
  border-radius: 3px;
  font-size: 15px;
  margin: 0.2rem 0rem;
}

.feeds-container {
  padding: 1rem;
  display: flex;
  max-width: 600px;
  justify-content: space-between;
  margin: 0 auto;
}

.feeds-textbox {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.user-id {
  padding: 0.5rem;
}

.user-text {
  background-color: white;
  width: 100%;
  padding: 0.5rem;
  font-size: 14px;
}

.feeds-btns {
  text-align: center;
}

.feeds-btns button {
  border: 1px solid;
  width: 50px;
  background-color: white;
  border-radius: 3px;
  padding: 2px 4px;
}

.feedslist {
  padding-bottom: 5rem;
}
